//npm.fontawesome.com/:_authToken={{ onepasswordRead "op://Private/npm-fontawesome-token/credential" }}
//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://Private/npm-github-packages-token/credential" }}
